* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'sunflower', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  text-shadow: 1px 1px 1px #1a95c5;
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 0.15fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 0 0 1em;
  padding: 0.5em 1em;
  z-index: 1;
}

h1 {
  margin: 0;
}

header p {
  margin: 0;
}

header button {
  all: unset;
  cursor: pointer;
}

nav {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  text-shadow: 1px 1px 1px #3d3d3d;
} 

a {
  text-decoration: none;
  color: #3d3d3d;
  text-shadow: 1px 1px 1px #1a95c5;
}

a:hover,
button:hover {
  transition: color 500ms;
  color: #005171;
}

main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: ghostwhite;
  border: #3d3d3d solid 2px;
  box-shadow: 2px 2px 1px #094c66aa;
  margin: 3em 0;
}

form div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 0 0.5em;
}

form div span {
  width: 100%;
  padding: 0.5em;
  cursor: initial;
  background: ghostwhite;
  color: #d3d3d3;
}

form div span.clickable {
  color: #3d3d3d;
  background: rgb(231, 231, 231);
  cursor: pointer;
}

form label {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  align-self: center;
}

form input {
  margin: 0.25em 0;
  width: 200px;
  align-self: center;
  text-align: center;
  font-family: 'sunflower', sans-serif;
}

button {
  all: unset;
  width: 100px;
  padding: 0.25em;
  align-self: center;
  color: #3d3d3d;
  cursor: pointer;
  border: #3d3d3d solid 2px;
  background: #239ac9;
  box-shadow: 2px 2px 1px #094c66aa;
  transition: transform 200ms, box-shadow 200ms;
  text-align: center;
  margin: 1em 0;
}

button:active {
  transform: translateX(2px) translateY(2px);
  box-shadow: #094c66aa 0px 0px 0px;
}

section button {
  margin: 0.85em 1.5em;
}

img {
  background: ghostwhite;
  padding: 0.5em 0.5em 2em;
  border: #3d3d3d solid 2px;
  box-shadow: 2px 2px 1px #094c66aa;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li button {
  color: #3d3d3d;
  text-shadow: 1px 1px 1px #1a95c5;
}

footer {
  height: 1.5em;
}